@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #2562FF;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 24px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    transition: color 0.3s ease; /* Efek transisi warna saat hover */
}

.menu a:hover {
    color: #163B99; /* Warna berubah saat dihover */
}

.content {
    display: flex;
    flex: 1;
}

.left-section {
    flex: 1;
    background-image: url('img/gunung-biru.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.left-section h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 20px;
    font-weight: 400;
}

.right-section {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

.input-container .email-icon,
.input-container .password-icon {
    font-size: 20px;
    color: #2562FF;
    margin-right: 10px;
}


.sign-up-button {
    background-color: #2562FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sign-up-button:hover {
    background-color: #163B99; /* Warna berubah saat dihover */
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.login-link a {
    color: #2562FF;
    text-decoration: none;
    transition: color 0.3s ease; /* Efek transisi warna saat hover */
}

.login-link a:hover {
    color: #163B99; /* Warna berubah saat dihover */
}